<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.wa11eubrocku.studentconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- the starting activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CoursesPage" />
        <activity android:name=".CourseRegisterPage" />

        <!--Pop up window custom themes below, can be found in values/styles -->
        <activity android:name=".NewEvent"
            android:theme="@style/AppTheme.CustomPopUpTheme"/>

        <activity android:name=".NewQuestion"
            android:theme="@style/AppTheme.CustomPopUpTheme"/>

        <activity android:name=".HobbiesRegisterPage" />
        <!-- end of activities -->

    </application>

</manifest>